<nav class = "navbar navbar-expand-lg navbar-custom">
    <a class = "navbar-brand" href ="#"> Groovy </a>
    <div class=" ms-auto navbar-nav">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/discover">Discover</a>
        <a class="nav-link" href="/mycollection">My Collection</a>
    </div>
</nav>