html, body {
    height: 120vh;
    
    background: linear-gradient(to bottom, black  0%, #232B2B 55%);
}
/* 
#232B2B
*/
.navbar-custom {

    background-color: transparent !important; 
    padding-top: 0px;
    padding-bottom: 50px;
}
.navbar-custom .navbar-brand
{
    color: #e34234;
    font-size: 38px !important;
    font-style: italic;
    margin-left: 20px;
}

.navbar-custom .nav-link {

    color: #e34234;
    font-size: 24px !important;
    margin-right: 20px;
    margin-left: 35px;
}

.home-image {

    display: block;
    margin-left: 30px ;
    width: 100%;
    max-width: 540px; 
    height: auto;
}

.flex-container {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.img-container {

    flex: 0 0 auto;
    padding-right: 50px;
}

.text-container {

    margin-top: 40px;
    margin-left: 20px;
    flex: 1;
    max-width: 600px; 
}

.text-container h1 {

    color: #e34234;
    font-weight: bold;
    font-size: 4rem;
}

.text-container h2 {

    color: #fff;
    font-size: 2.5rem;
}


.text-container p {

    color: #fff;
    font-size: 2rem;
}

.btn-primary {

    background-color: #e34234;
    width: 80%; 
    padding: 10px 20px;
    font-size: 1.25rem;
    border: none; 
}

.btn-primary:hover {

    background-color: #c2201f;
    border-color: #c2201f;
}

.btn-primary:focus, .btn-primary:active  {

    background-color: #c2201f !important;
    border-color: #c2201f;
    box-shadow: none;
}

.card-container {
    
    padding: 10px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.record-card {

    height: 300px;
    display: flex;
    flex-direction: column;
    /*position: relative;*/
    overflow: hidden;
    border-radius: 10px;
    cursor: pointer;
}

.record-card img {

    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
    display: block;
}

.record-card:hover img{
    transform: scale(1.05);
}

.card-body
{
    height: 100px;
}

.record-card .card-body{
    background-color: white;
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card-title, .card-text
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    margin: 0;
}

.card-img-top 
{
    height: 200px !important ;
    object-fit: cover !important ;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}


.details-container {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin-top: 20px;
}


.details-container .details {
    margin-left: 20px;
    color: white;
}


body {
    
    
    background-color: #333; 
}


img {
    max-width: 100%;
    height: auto;
}

.search-container {

    text-align:center;
    margin-top: 50px;
}

.search-container input[type="text"]
{
    width: 600px;
    padding: 8px;
    margin-right: -4px;
    border: none;
    border-radius: 4px 0x 0px 4px !important;
    margin-bottom: 100px;
}

.search-container button {

    padding: 8.5px;
    border: none;
    background-color: #e34234;
    color: white;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.see-more-container {

    text-align: right; 
    margin-top: 0; 
    padding-right: 20px;
}

.see-more-link {

    font-weight: bold;
    text-decoration: none;
    color:  #e34234;
}

.see-more-link:hover {

    text-decoration: underline;
}


.page-container {

    display: flex;
    justify-content: center; 
    align-items: center;
    margin-top: 20px;
    padding: 10px 0;
}


.page-link {

    display: inline-block;
    padding: 8px 16px;
    text-decoration: none; 
    color: #ffffff;
    background-color: #e34234;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}


.page-link.active {

    background-color: #c2201f;
    color: #ffffff;
    font-weight: bold;
}

.page-link:hover {

    background-color: #e85d59;
    cursor: pointer;
}
